[Unit]
Description=Prometheus custom exporter

[Service]
Restart=on-failure
User=prometheus
Environment=HOSTNAME=localhost
Environment=PORT=9530
EnvironmentFile=/etc/default/custom-prometheus-exporter
ExecStart=/usr/local/bin/custom-prometheus-exporter -h ${HOSTNAME} -p ${PORT} $ARGS
ExecReload=/usr/bin/curl -X POST ${HOSTNAME}:${PORT}/-/reload

[Install]
WantedBy=multi-user.target
